---
import { getCollection } from 'astro:content';
import BunzoLayout from '../../layouts/BunzoLayout.astro';
import PostDetails from '../../components/bunzo/PostDetails.astro';
import Breadcrumb from '../../components/bunzo/Breadcrumb.astro';
import PostAfterPlugins from '../../plugins/_slots/PostAfterPlugins.astro';
import PostSchemaPlugins from '../../plugins/_slots/PostSchemaPlugins.astro';
import { readData } from '../../lib/readData';

export async function getStaticPaths() {
  const siteConfig = readData('siteConfig.json', {}) as any;
  if (siteConfig.postUrlPrefix !== 'blog') return [];
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

const authors = readData('authors.json', []) as any[];
const authorData = authors.find((a: any) => a.id === post.data.author) || { name: post.data.author };
const siteConfig = readData('siteConfig.json', {}) as any;
const postUrl = `${siteConfig.url || Astro.url.origin}/blog/${post.slug}`;
---

<BunzoLayout title={post.data.title}>
    <PostSchemaPlugins
      title={post.data.title}
      description={post.data.description || ''}
      url={postUrl}
      image={post.data.heroImage}
      datePublished={post.data.pubDate instanceof Date ? post.data.pubDate.toISOString() : post.data.pubDate}
      authorName={authorData?.name}
      category={post.data.category}
    />
    <div class="post-details-page">
        <Breadcrumb slug={post.data.title} link="Blog" url="/blog" />
        
        <div class="py-section">
            <div class="container mx-auto px-4">
                <PostDetails post={post} />
                <PostAfterPlugins currentSlug={post.slug} category={post.data.category || ''} />
            </div>
        </div>
    </div>
</BunzoLayout>
